#control-section {
  height: 100vh;
}

.reports-icon {
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

:host>>>.ui-panelmenu .ui-panelmenu-icon {
  float: right;
}

:host>>>.ui-panelmenu .ui-panelmenu-header {
  border-radius: 0;
}

:host>>>.e-toolbar-item .e-menu-tab {
  display: none;
}

.ss-reportName{
font-size:13px;
font-weight: 700;
padding: .25em;
}

.ss-reportName:hover{
  border:1px solid #d6d6d6;
  border-radius: 3px;
}
